<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.twotomatoes.monitor.mapper.PromiseErrorMapper">

    <resultMap id="BaseResultMap" type="cn.org.twotomatoes.monitor.entity.PromiseError">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="ip" column="ip" jdbcType="CHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="timestamp" column="timestamp" jdbcType="CHAR"/>
            <result property="userAgent" column="user_agent" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="stack" column="stack" jdbcType="VARCHAR"/>
            <result property="selector" column="selector" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ip,title,
        url,timestamp,user_agent,
        message,stack,selector
    </sql>
</mapper>
