<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.twotomatoes.monitor.mapper.CustomErrorMapper">

    <resultMap id="BaseResultMap" type="cn.org.twotomatoes.monitor.entity.CustomError">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="ip" column="ip" jdbcType="CHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="timestamp" column="timestamp" jdbcType="CHAR"/>
            <result property="browser" column="browser" jdbcType="VARCHAR"/>
            <result property="os" column="os" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ip,title,
        url,timestamp,browser,
        os
    </sql>
</mapper>
